[Unit]
Description=Erasers Task Controller Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/roboworks/work/erasers-app/erasers-server/erasers_task_controller_server.py --config /home/roboworks/erasers_ws/tasks
Restart=on-failure
RestartSec=5
# Environment=PYTHONPATH=INSTALL_PYTHONPATH

[Install]
WantedBy=multi-user.target
