[Unit]
Description=Erasers Task Controller Server
# After=network.target
After=graphical-session.target
BindsTo=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=DISPLAY
ConditionEnvironment=XAHTHORITY

[Service]
Type=simple
ExecStart=/usr/local/bin/uv run /path/to/erasers_task_controller_server.py --config /path/to/config
Restart=on-failure
RestartSec=5

[Install]
# WantedBy=default.target
WantedBy=graphical-session.target
